<!doctype html>
<html>
  <head>
    <title>{{ .Author }}</title>
  </head>
  <body>
    <div>
      <h1>{{ .Author }}</h1>
      <p>{{ .Body }}</p>
    </div>
    <hr />
    <div>
      <form action="/" method="POST">
	<label for="uh">Namn</label>
	<input type="text" name="uh" id="uh"><br />
	<label for="ah">Text</label>
	<input type="text" name="ah" id="ah"><br />
	<input type="submit" value="Skicka">
      </form>
    </div>
  </body>
</html>
